<!-- 4Tutorial  -->
<div class="container-fluid">
  <div class="row">
    <div class="col-6 pl-4">
      Welcome <b>{{ signalrService.userData?.name }}</b>
    </div>
    <div class="col-6 text-right" style="cursor: pointer;" (click)="logOut()">
      Logout
    </div>
  </div>

  <!-- 5Tutorial  -->
  <div class="row">
    <!-- List of Users -->
    <div class="col-12 col-sm-3 offset-sm-3 mt-4">
      <!-- Online Users -->
      <label>Online Users</label>
      <ul class="list-group" *ngFor="let user of users">
        <li class="list-group-item" style="cursor: pointer;" (click)="selectedUser = user">{{ user.name }}</li>
      </ul>
    </div>

    <!-- Chat Box -->
    <div class="col-12 col-sm-3 mt-4">
      <label><b>{{ selectedUser?.name }}</b></label>
      <div id="chatBox">
        <div #msgBox id="msgBox" [scrollTop]="msgBox.scrollHeight">
          <div
            *ngFor="let msg of selectedUser?.msgs"
            class="msg"
            [class.mine]="msg.mine"
            >
            {{ msg.content }}
          </div>
        </div>
        <textarea [(ngModel)]="msg" id="textarea"></textarea>
        <button id="sendBtn" class="btn btn-primary" [disabled]="selectedUser == null" (click)="sendMsgInv()">Send</button>
      </div>
    </div>
  </div>
</div>
